@use '../../styles/variables' as *;


.todo-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px;
  transition: all 0.3s ease;
  border-radius: 8px;
  word-wrap: break-word;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 8px;
    background-color: $item-hover;
    width: 97%;
    height: 1px;
  }

  &:hover {
    background-color: $item-hover;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }

  input {
    display: none; /* Скрыть стандартный чекбокс */
  }

  // Кастомный чекбокс
  .checkbox-wrapper {
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid $main-green; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    &::before {
      content: '';
      width: 1px;
      height: 10px;
      background-color: $background;
      transition: opacity 0.2s ease;
      transform: translateX(2px) rotate(34deg);
    }
    &::after {
      content: '';
      width: 1px;
      height: 5px;
      background-color: $background;
      transition: opacity 0.2s ease;
      transform: translate(-3px, 3px) rotate(134deg);
    }
  }

  input:checked + .checkbox-wrapper {
    background-color: $main-green;
    border-color: $main-green;
  }

  span {
    font-size: 1.2rem;
    width: 90%;
    color: $text;
    flex-grow: 1;
    transition: opacity 0.3s ease;

    &[style*='line-through'] {
      color: $text;
      text-decoration: line-through;
    }
  }

  input:checked + .checkbox-wrapper + span {
    text-decoration: line-through;
    opacity: 0.6;
  }
}
