$background: #FFFFFF;
$text: #292B32;

$main-green: #56D67F;
$main-green-hover: #39AA5D;

$delete: #FA4C49;
$delete-hover: #da4340;

$main-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
$main-title: #e9d9d8;

$item-hover: #f6f6f6;
$main-outline: #ccc;
