@use '../../styles/variables' as *;


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  margin: 0 50px;

  button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: $background;
    color: $text;
    border: 1px solid $main-outline;
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active {
      border-color: $main-green-hover;
      background-color: $main-green-hover;
      color: white;
    }

    &:hover {
      outline: 1px solid $main-green;
      transition: none;
    }

    &:focus {
      outline: none;
    }
  }
}

.clear-completed {
  background-color: $delete;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;

  &:hover {
    background-color: $delete-hover;
  }
}
